.about .box{
    padding: 30px;
}

.about .box img{
    border-radius: 15px;
}

.about .box .content{
    padding: 50px;
}

.circle{
    background-image: url('/assets/circle.png');
    height: 250px;
    background-repeat: no-repeat;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

@media only screen and (max-width: 480px) {
    .about .box{
        padding: 15px;
    }
    .about .box .content {
        padding: 15px;
    }

    .about .border-left{
        border: none;
    }


    
}