.contact .box{
    padding: 30px;
}

.contact .box img{
    border-radius: 15px;
}

.contact .box .content{
    padding: 50px;
}

.contact form input,.contact form textarea {
    box-shadow: none;
    padding: 10px;
    border: 2px solid #004534;
    font-family: "DM Sans", Sans-serif; 
    font-weight: 600;
    font-size: 18px;
    text-shadow: none;
    border-radius: 15px;
    width: 90%;
    background-color: transparent;
}

.contact form input::placeholder,.contact form textarea::placeholder{
    font-family: "DM Sans", Sans-serif; 
    font-weight: 600;
    font-size: 18px;
    color: #004534;
}


@media only screen and (max-width: 480px) {
    .contact .box{
        padding: 15px;
    }

    .contact .box .content{
        padding: 15px;
    }

    .contact .border-left{
        border: none;
    }
}
