@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --bg-colr: #fffaea;
  --border-color: #CB9971;
  --pinkish: #FCDDC8;
  --font-color1: #e1f370;
  --font-color2: #004534;
}

body {
  background-color: var(--bg-colr);
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.navbar {
  padding: 0px;
  background-color: #fff;
  border-bottom: #CB9971 1px solid;
}

.navbar .navbar-brand img {
  height: 80px;
}

.navbar .nav-item a {
  color: #004534;
  font-family: "Calistoga";
  font-size: 18px;
  line-height: 33px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar form .form-control {
  border-radius: 0px;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid;
  border-color: #004534;
  /* border-top-left-radius: 15px; */
  border-bottom-left-radius: 15px;
  box-shadow: none;
  background-color: transparent;
}

.navbar form .btn-outline-success {
  border-radius: 0px 15px 0px 0px;
  border: 2px solid;
  border-color: #004534;
  font-size: 18px;
  font-weight: 600;
  color: var(--font-color2);
}

.navbar form .btn-outline-success:hover {
  background-color: var(--font-color2);
  color: #fff;
}


/* Font Styles */
.heading1 {
  color: #E1F271;
  font-size: 75px;
  font-family: "Calistoga";
  line-height: 80px;
  font-weight: 800;
}

.heading2 {
  color: #004534;
  font-family: "Calistoga";
  font-size: 48px;
  line-height: 56px;
  font-weight: 900;
}

.heading3 {
  font-size: 25px;
  color: var(--font-color2);
  font-family: "Calistoga";
  line-height: 30px;
  font-weight: 500;
  transition: 1s;
  background-image: linear-gradient(transparent calc(95% - 1px), #004534 2px);
  background-size: 0;
  background-repeat: no-repeat;
  display: inline;
  transition: 0.5s ease;
}

.heading3:hover {
  background-size: 100%;
  cursor: pointer;
}

.heading4{
  color: #004534;
  font-size: 25px;
  font-weight: 400;
  font-family: "Calistoga";
  line-height: 26px;
}

.subheading1 {
  color: #004534;
  font-size: 20px;
  font-weight: 400;
  font-family: "DM Sans", Sans-serif;
  line-height: 22px;
}

.subheading2 {
  font-family: "DM Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--font-color2);
  margin-top: 15px;
  margin-bottom: 0px;
}

.subheading3{
  font-size: 18px;
  text-decoration: none;
  color: var(--font-color1);
  font-family: "Calistoga";
  line-height: 25px;
  font-weight:300;
  transition: 1s;
  background-image: linear-gradient(transparent calc(95% - 1px), #e1f370 2px);
  background-size: 0;
  background-repeat: no-repeat;
  display: inline;
  transition: 0.5s ease;
}
.subheading3:hover{
  background-size: 100%;
  cursor: pointer;
}

.subheading4 {
  font-family: "DM Sans", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--font-color2);
  line-height: 22px;
  margin-bottom: 0px;
}

/* Button Styles */
.btn-info {
  color: white;
  border: 2px solid white;
  border-radius: 0px 15px 0px 15px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  transition: .5s;
}

.btn-info:hover {
  color: var(--font-color2);
  background-color: white;
  border: 2px solid white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px 0px 15px 0px;
  transition: .5s;
}

.btn-success {
  border-radius: 0px 15px 0px 15px;
  border: 2px solid;
  border-color: #004534;
  background-color: #004534;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  transition: .5s;
}

.btn-success:hover {
  border-radius: 15px 0px 15px 0px;
  border: 2px solid;
  border-color: #004534;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  color: #004534;
  transition: .5s;
}

.texual-btn {
  font-size: 16px;
  color: var(--font-color2);
  font-family: "Calistoga";
  line-height: 20px;
  font-weight: 300;
  transition: 1s;
  background-image: linear-gradient(transparent calc(95% - 1px), #004534 2px);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline;
  transition: 0.5s ease;
  border-radius: 0px;
  padding: 5px;
}

.texual-btn:hover {
  background-size: 0%;
  cursor: pointer;
  color: #004534;
}


/* Borders */
.border-left {
  border-left: 2px solid var(--border-color);
}

.topBorder {
  border-top: 2px solid var(--border-color);
}

/* Footer */

footer .col-md-6 {
  padding: 80px;
}

footer .col-md-3 a {
  display: block;
  color: var(--font-color2);
  font-family: "Calistoga";
  text-decoration: none;
  font-size: 16px;
  padding: 5px 0px;
}

footer .input-group{
  background-color: transparent;
  border: 1px solid #004534;
  border-radius: 30px;
  padding: 0px;
}

footer .input-group input{
  background-color: transparent !important;
  border: 1px solid #004534;
  border-radius: 25px 0px 0px 25px;
  padding: 5px 15px;
  font-size: 20px;
  color: #004534;
  box-shadow: none;
  font-family: "DM Sans", Sans-serif;
  box-shadow: none !important;
  border-right: none;
}

footer .input-group input::placeholder{
  color: #004534;
}


footer .input-group button {
  border-radius: 30px 30px 30px 30px;
  padding: 10px;
  background-color: #004534;
  color: #fff;
  border: 1px solid #004534;
  margin-left: 15px;

}

footer .input-group button:hover {
  border-radius: 30px 30px 30px 30px;
  padding: 10px;
  color: #004534;
  background-color: transparent;
  border: 1px solid #004534;

}


footer .copyright-text {
  color: #8ca394;
  margin-top: 30px;
  font-size: 15px;
  line-height: 26px;
}